::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #30312C;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.otherContainer {
    background-color: #3B3B39;
    height: 85%;
}

/* Navpart */
.othernavContianer {
    width: 100%;
    height: 10%;
    /* box-shadow: 0px 0px 2px 1px rgba(24, 24, 22, 0.7); */
    border-bottom: 1.5px solid rgba(24, 24, 22, 0.7);
}

.otherNav {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.otherNav button {
    height: 70%;
    color: white;
    font-weight: 600;
    font-size: smaller;
    background-color: #3B3B39;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(24, 24, 22, 0.7);
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 2px solid darkgray;
}

.otherNav button:hover {
    box-shadow: 0px 0px 4px 1px darkgray;

}

/* BootomPart */
.otherBottomContainer {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

/* DrawerPart */
.otherDrawerContainer {
    width: 15%;
    height: 100%;
    padding-top: 20px;
}

.otherDrawerInner {
    width: 80%;
    margin: auto;
}

.otherDrawerHeader {
    color: white;
    font-size: large;
    font-weight: 700;
}

.otherDrawerList {
    padding-top: 10px;
}

.otherDrawerList ul {
    margin: 0px;
    padding: 0px 0px 20px 0px;
    list-style-type: none;
    border-bottom: 1px solid rgba(24, 24, 22, 0.7);
}

.navlink:hover{
    background-color: gray;
}
.navlink{
    margin: 10px 0px;
    padding-left: 10px;
}
.active{
    background-color: gray;
}
.otherDrawerList ul li {
    padding: 5px 0px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

/* .otherDrawerList ul li :first-child {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
} */

.otherDrawerList ul li:hover {
    background-color: gray;
}

/* All Right Part */
.otherRightContainer {
    height: 100%;
    background-color: rgba(24, 24, 22, 0.3);
    width: 85%;
}

.otherRightInner {
    height: 100%;
    width: 98%;
    margin: auto;
}

/* rightUppperPart */
.otherRightUpper {
    height: 10%;
}

.otherRightUpperInner {
    width: 98%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightHeader {
    color: white;
    font-weight: 600;
}

.rightbutton {
    display: flex;
    gap: 30px;
    align-items: center;
}

.rightbutton :first-child {
    cursor: pointer;
}

.rightbutton :last-child {
    cursor: pointer;
}
.rightbutton :first-child:hover {
    transform: translateY(2px);
}

.rightbutton :last-child:hover {
    transform: translateY(2px);
}

/* TablePart */
.otherTableContainer {
    width: 100%;
    height: 90%;
}

.otherTableContainerInner {
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    height: 95%;
    overflow-y: auto;
    box-shadow: 3px 0px 1px 1px rgba(24, 24, 22, 0.7);
}

.table table {
    width: 100%;
    box-shadow: 3px 0px 1px 3px rgba(24, 24, 22, 0.7);
    background-color: #30312C;
    border: none;
    border-collapse: collapse;
}

.table table thead {
    padding: 5px 0px;
}

.table thead tr {
    margin: auto;
    font-weight: 500;
    color: white;
    background-color: #30312C;
}

.table thead tr th {
    padding: 10px;
    text-align: start;
    position: sticky;
    top: 0;
    background-color: #3B3B3B;

}

.table table tbody {
    background-color: rgba(24, 24, 22, 0.3);
    overflow-y: scroll;
}

.table table tbody tr:nth-child(even) {
    background-color: rgba(24, 24, 22, 0.7);
}

.table table tbody tr:hover {
    background-color: rgb(71, 71, 71);
}

.updateIcon:hover{
    transform:translateY(3px);
    color: aqua;
}
.deleteIcon:hover{
    color: rgb(184, 0, 0);
    transform:translateY(3px);
}

.table table tbody tr td {
    text-align: start;
    color: white;
    font-size: small;
    padding-left: 10px;
}

/* Details Modal */
/* The animation code */
@keyframes example {
    from {opacity: 0; transform: translateX(300px);}
    to {opacity: 1; transform: translateX(0px);}
  }
.detailsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: flex-end;
}

.detailsInner {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #30312C;
    box-shadow: 0px 0px 2px 1px rgba(24, 24, 22, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    right: 50px;
    animation-name: example;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}

.detailsHeader {
    height: 15%;
    border-bottom: 2px solid rgba(24, 24, 22, 0.7);
}

.detailsHeaderInner {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsTitle {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.detailsCross {
    cursor: pointer;
}

.detailsInfoContainer {
    height: 85%;
}

.detailsInfoHeader {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(24, 24, 22, 0.7);
    gap: 45%;
}

.detailsInfoTitle {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.detailsInfoDropDown {
    cursor: pointer;
}

.detailsFullInfo {
    width: 100%;
    background-color: #31312C;
}

.detailsFullInfoInner {
    padding-top: 30px;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoItems {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.infoItems span {
    flex: 1;
    font-size: 13px;
    font-weight: 500;
}

.infoItems p {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 300;
}

/* Form Modal */
/* formPart */
.formContainer {
    width: 100%;
}

.formContainer form {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px 0px;
    padding-top: 20px;
}

.formContainer form input {
    width: 70%;
    height: 30px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding-left: 20px;
    font-weight: 600;
}
.formContainer form textarea {
    width: 70%;
    height: 80px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding-left: 20px;
    font-weight: 600;
}

.formContainer form select {
    width: 77%;
    height: 35px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding-left: 20px;
    font-weight: 600;
}

.formContainer form select option {
    color: white;
}

.formContainer form label {
    width: 75%;
    color: white;
    text-align: start;
    font-size: 15px;
    font-weight: 600;
}

.formContainer form label span {
    color: red;
    font-size: larger;
}

.formContainer form select option {
    color: black;
    padding: 15px 0px;
}

.buttonContaier {
    /* width: 100%; */
    /* display: flex;
    gap: 10px;
    align-items: center; */
}

.btn {
    display: block;
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    background-color: #30312C;
    color: white;
    border: none;
    box-shadow: 0px 0px 1px 1px #555;
    cursor: pointer;
}

.loadingConatiner {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    position: absolute;
    bottom: 10px;
    right: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 20%;
    font-size: small;
}

.toast p {
    color: white;
    margin: 0px;
    padding: 0px;
}

.toast span {
    cursor: pointer;
}
/* alert */

.alert{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.alertInner{
    background-color: #30312C;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    animation-name: alert;
    animation-timing-function: ease-out;
    animation-duration: 0.5px;
}
.alertHeader{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid #555;
}
.alertHeaderInnd{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.alertTitle{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.alertIcon{
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    background-color: red;
}
.alertIcon:hover{
    box-shadow: 0px 0px 4px 1px rgb(255, 72, 72);
}
.alertCenter{
    max-height: 60%;
    overflow-y: auto;
}
.alertCenterInner{
    padding: 20px;
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alertMessage{
    color: white;
    text-align: justify;
}
.alertBottom{
    border-top: 1px solid #555;
    height: 20%;
    width: 100%;
}
.alertBottomInner{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.alertBottomInner button{
    color: white;
    font-weight: 600;
    font-size: 18px;
    background-color: #30312C;
    border: none;
    border-radius: 10px;
    width: 20%;
    box-shadow: 1px 1px 4px 1px #555;
    cursor: pointer;
    height: 40px;
}
@keyframes alert {
    from {opacity: 0; transform: translateX(300px);height: 0px;}
    to {opacity: 1; transform: translateX(0px); height: auto;}
  }

